<!DOCTYPE html>
<html>
<head>
	<title>Hackfest2013</title>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
	<%= javascript_include_tag "jquery-1.10.2" %>
	<%= javascript_include_tag "cppSearch.js" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= csrf_meta_tags %>
</head>
<body >
	<div class="container">
		<h1>Welcome</h1>
		<h2>Syntax Info!</h2>
		<p>Please Select the language you would like to search for:</p>

		<form action="#myModal" data-toggle="modal" onsubmit("urlSearch();get_form(this).submit(); return false")>
			<div class="controls btn-group" data-toggle="buttons-radio">
				<input type="button" class="btn btn-info active"name="language" value="C++" id="Cplusplus"/>
				<input type="button" class="btn btn-info" name="language" value="Jquery" id="Jquery"/>
				<input type="button" class="btn btn-info" name="language" value="JavaScript" id="JavaScript"/>
				<input type="button" class="btn btn-info" name="language" value="PHP" id="PHP"/>
			</div>
			<br/>
			<br/>
			<label for="search_query">Enter control structure: </label>
			<input type="text" name="search_text" id="search_query" contenteditable="true" spellcheck="true" placeholder="Type something…"/>
			<br/>
			<a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal" onclick="urlSearch();get_form(this).submit(); return false">Search!</a>
		</form>
		
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Modal header</h3>
			</div>
			<div class="modal-body">
				<% query_result = "" %>
				<p><%= query_result%></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>

</body>
</html>
